<%- include("header", {title: title}); %>

<h1>Welcome to the Coffe shop</h1>

<p>What do you want to do?</p>

<ul>
    <li><a href="category">Show Categories</a></li>
    <li><a href="product">Show all Products</a></li>
</ul>

<%- include("footer"); %>
